<div id="background">
  <div id="banner">
  </div>

  <div id="title_button">
    <h1>Happy Movie Watching...</h1>
    <%= link_to "Add List", new_list_path, class: "btn btn-gradient" %>
  </div>

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
      </div>
    <% end %>
  </div>
</div>
