<div id='user_image' class='text-white'>
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Save List', class: 'btn-submit text-white' %>
  <% end %>
</div>
